<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<!-- <link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800' rel='stylesheet'> -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Perfectice - Certificate</title>
		<!-- <link href="styles.css" rel="stylesheet" type="text/css"> -->
	</head>
	<body>
		<div id="background">
			<div id="Background">
				<img class ="img" src="images/Background.jpg">
				<span class="main">CERTIFICATE</span>
				<span class="main1">OF COMPLETION</span>
				<span class="content1">This certificate is hereby presented to </span>
				<span class="name">{{student}}</span>
				<span class="content2">for successfully completing <b>{{level}} of {{package}}</b> assessed by Perfectice</span>
				<span class="date">{{certdate}}</span>
				<span class="footer">To validate or download the certificate visit https://lpu.myperfectice.com/cert/</span>
			</div>
		</div>
 </body>
 </html>
 